#billsearch {
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 250px;
  font-size: 16px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 10rem;
}

.top_title {
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  background-color: #007bff;
}

.vstatus {
  border-radius: 10rem;
  width: 300px;
  padding: 0px 20px;
}

.sarabun {
  font-family: 'Sarabun', sans-serif;
}

.cbill {
  width: 50rem;
  margin: 5px 5px;
}

.imgcrop {
    position: relative;
    width: auto;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px 0px;
}

.imgcrop .horizontal {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.imgcrop .vertical {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.fright {
  float: right;
}
.fleft {
  float: left;
}
.fbold {
  font-weight: bold;
}
